################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Test1-SingleProjectSolution/bin/Debug/
/DemoUtils/bin/Debug/